In [208]:
import pandas as pd

In [209]:
data=pd.read_csv("ARABIC-NEWS-MERGED-CLASS-COLLECTED.csv")

In [210]:
data.head()

,Title,Label,Topic,Origine,Article_date,Article_content,Article_correction
0,54 عاما في القضاء.. نهاية حزينة لمعركة مقدسي ح...,real,politics,df1,NaN,القدس المحتلة- لن يتمكن المقدسي سامي درويش في ...,NaN
1,خبراء إيرانيون يشرحون لماذا لا تستعجل طهران با...,real,politics,df1,NaN,طهران- منذ الهجوم الإسرائيلي على القنصلية الإي...,NaN
2,فلسطيني يقود فريق خبراء بإيطاليا لبناء قضية إب...,real,politics,df1,NaN,غادر المحامي الفلسطيني راجي صوراني قطاع غزة رف...,NaN
3,مستوطنون يهاجمون قرى نابلس بحماية من جنود الاح...,real,politics,df1,NaN,نابلس- لليوم الثاني على التوالي، تتعرض قرية دو...,NaN
4,جدل قانوني حول ترشح جاكوب زوما لانتخابات جنوب ...,real,politics,df1,NaN,بريتوريا- تقدمت اللجنة المستقلة للانتخابات في ...,NaN

In [211]:
data.shape

(56055, 7)

In [212]:
data.columns

Index(['Title', 'Label', 'Topic', 'Origine', 'Article_date', 'Article_content',
       'Article_correction'],
      dtype='object')

In [213]:
data.describe()

,Title,Label,Topic,Origine,Article_date,Article_content,Article_correction
count,12032,55149,49037,56055,10618,49973,2465
unique,7648,12,86,8,5318,12471,2419
top,اليمن -Yemen حملة COVID-19 vs F19,زائف,رياضة,df3,2024-04-12T01:59:53+03:00,[],['']
freq,200,37764,17035,37784,342,150,38

In [214]:
data.isnull().sum()

Title                 44023
Label                   906
Topic                  7018
Origine                   0
Article_date          45437
Article_content        6082
Article_correction    53590
dtype: int64

### DATA PREPROCESSING

In [215]:
columns=["Title","Topic","Origine","Article_date","Article_correction"]

In [216]:
data_v1=data.drop(columns=columns,axis=1)

In [217]:
data_v1.head()

  Label                                    Article_content
0  real  القدس المحتلة- لن يتمكن المقدسي سامي درويش في ...
1  real  طهران- منذ الهجوم الإسرائيلي على القنصلية الإي...
2  real  غادر المحامي الفلسطيني راجي صوراني قطاع غزة رف...
3  real  نابلس- لليوم الثاني على التوالي، تتعرض قرية دو...
4  real  بريتوريا- تقدمت اللجنة المستقلة للانتخابات في ...

In [218]:
data_v1.isnull().sum()

Label               906
Article_content    6082
dtype: int64

In [219]:
# Delete rows with empty values
data_v2=data_v1.dropna(axis=0)

In [220]:
data_v2.isnull().sum()

Label              0
Article_content    0
dtype: int64

In [221]:
data_v2.shape[0]

49973

In [222]:
data_v2["Label"].unique()

array(['real', 'fake', 'زائف', 'صحيح'], dtype=object)

In [223]:
data_v2["Label"]=data_v2["Label"].replace({"صحيح":"real"})
data_v2["Label"]=data_v2["Label"].replace({"زائف":"fake"})

C:\Users\NEXUS COMPUTERS\miniconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\NEXUS COMPUTERS\miniconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [224]:
data_v2["Label"].unique()

array(['real', 'fake'], dtype=object)

In [225]:
from sklearn.preprocessing import LabelEncoder

In [226]:
encoder=LabelEncoder()

In [227]:
data_v2["Label"]=encoder.fit_transform(data_v2["Label"])

C:\Users\NEXUS COMPUTERS\miniconda3\envs\myenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [228]:
data_v2.head()

   Label                                    Article_content
0      1  القدس المحتلة- لن يتمكن المقدسي سامي درويش في ...
1      1  طهران- منذ الهجوم الإسرائيلي على القنصلية الإي...
2      1  غادر المحامي الفلسطيني راجي صوراني قطاع غزة رف...
3      1  نابلس- لليوم الثاني على التوالي، تتعرض قرية دو...
4      1  بريتوريا- تقدمت اللجنة المستقلة للانتخابات في ...

In [229]:
# Shuffle the DataFrame
data_v2_shuffled = data_v2.sample(frac=1, random_state=42)

# Calculate the number of "real" and "fake" labels
num_real = (data_v2["Label"] == 1).sum()
num_fake = (data_v2["Label"] == 0).sum()

print(num_fake)
print(num_real)

# Calculate the proportion of each label
prop_real = num_real / len(data_v2)
prop_fake = num_fake / len(data_v2)

# Split the shuffled DataFrame into "real" and "fake" parts
data_real = data_v2_shuffled[data_v2_shuffled["Label"] == 1]
data_fake = data_v2_shuffled[data_v2_shuffled["Label"] == 0]

# Calculate the number of samples for each label in the shuffled DataFrame
num_real_shuffled = int(len(data_v2_shuffled) * prop_real)
num_fake_shuffled = int(len(data_v2_shuffled) * prop_fake)
print(num_fake_shuffled )
print(num_real_shuffled )

# Take the required number of samples for each label
data_real_shuffled = data_real.sample(n=num_real_shuffled, random_state=42)
data_fake_shuffled = data_fake.sample(n=num_fake_shuffled, random_state=42)

# Concatenate the shuffled "real" and "fake" parts back together
data_v2_shuffled_proportionate = pd.concat([data_real_shuffled, data_fake_shuffled])

# Shuffle the concatenated DataFrame again to mix the "real" and "fake" samples
data_v2_shuffled_proportionate = data_v2_shuffled_proportionate.sample(frac=1, random_state=42)

44313
5660
44313
5660

In [230]:
data_v2_shuffled_proportionate.head()

       Label                                    Article_content
46117      0  لا صحة لخبر رفع الحجر الصحي عن جميع ولايات الج...
4445       0  ['الإدعاء\nصحيفة "المصري اليوم" نشرت خبر بيقول...
10681      0  التصميم مفبرك والجزيرة لم تنشر خبرًا عن سيطرة ...
44590      1  قصة بول ألكسندر الذي يعيش داخل إسطوانة حديدية ...
44093      0  وزارة الصحة الفلسطينية تنفي اتهام حسين الشيخ ب...

#### TOKENIZATION

In [231]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [232]:
vocab_size = 10000
embedding_dim = 16
max_length = 100
trunc_type='post'
padding_type='post'
oov_tok = "<OOV>"
training_size = 40000

In [233]:
train_val_sentences=data_v2_shuffled_proportionate["Article_content"][0:training_size]
testing_sentences=data_v2_shuffled_proportionate["Article_content"][training_size:]
training_val_labels=data_v2_shuffled_proportionate["Label"][0:training_size]
testing_labels=data_v2_shuffled_proportionate["Label"][training_size:]

In [235]:
validation_size=8000
validation_sentences=train_val_sentences[0:validation_size]
validation_labels=training_val_labels[0:validation_size]

training_sentences=train_val_sentences[validation_size:]
training_labels=training_val_labels[validation_size:]

### MODEL CONSTRUCTION

In [238]:
tokenizer=Tokenizer(num_words=vocab_size,oov_token=oov_tok)
tokenizer.fit_on_texts(training_sentences)
word_index=tokenizer.word_index


training_sequences=tokenizer.texts_to_sequences(training_sentences)
training_to_padded=pad_sequences(training_sequences,maxlen=max_length, padding=padding_type,truncating=trunc_type)

validation_sequences=tokenizer.texts_to_sequences(validation_sentences)
validation_to_padded=pad_sequences(validation_sequences,maxlen=max_length, padding=padding_type,truncating=trunc_type)

testing_sequences=tokenizer.texts_to_sequences(testing_sentences)
testing_to_padded=pad_sequences(testing_sequences, maxlen=max_length, padding=padding_type,truncating=trunc_type)

In [239]:
print(validation_to_padded[0])
print(validation_to_padded.shape)

[  16   88  253  838 3318 1389    7  101 5551  182 6463    3  403  757
  127    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0]
(8000, 100)

In [244]:
model=tf.keras.Sequential(
    [
        tf.keras.layers.Embedding(vocab_size,embedding_dim, input_length=max_length),
        tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(max_length)),
        tf.keras.layers.Dense(max_length, activation='relu'),
        tf.keras.layers.Dense(1, activation='sigmoid')
    ]
)

In [245]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'] )

In [246]:
import numpy as np
training_labels_np = np.array(training_labels)
validation_labels_np = np.array(validation_labels)
num_epochs=1
history=model.fit(training_to_padded, training_labels_np, epochs=num_epochs, validation_data=(validation_to_padded,validation_labels_np), verbose=2)

1000/1000 - 77s - loss: 0.0674 - accuracy: 0.9774 - val_loss: 0.0159 - val_accuracy: 0.9954

In [247]:
predictions=model.predict(testing_to_padded)

In [249]:
predictions=predictions.round()

In [251]:
predictions

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [1.],
       [0.]], dtype=float32)

In [252]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Calculate Mean Absolute Error
mae = mean_absolute_error(testing_labels, predictions)
print("Mean Absolute Error (MAE):", mae)

# Calculate Mean Squared Error
mse = mean_squared_error(testing_labels, predictions)
print("Mean Squared Error (MSE):", mse)

# Calculate Root Mean Squared Error
rmse = mean_squared_error(testing_labels, predictions, squared=False)
print("Root Mean Squared Error (RMSE):", rmse)

# Calculate R-squared
r2 = r2_score(testing_labels, predictions)
print("R-squared (R²):", r2)

Mean Absolute Error (MAE): 0.006116514589391357
Mean Squared Error (MSE): 0.006116514589391357
Root Mean Squared Error (RMSE): 0.07820814912393309
R-squared (R²): 0.9401332953872703